extends layout

block content
  h2= title
  table(class='keysList pure-table pure-table-striped')
    thead 
      tr
        th Location 
        th Holder's name
        th Holding since
    tbody 
      for one in keys
        tr
          td #{one.location}
          td #{one.holder}
          td #{one.date}


