extends layout

block content
    div(class='success')  
      h2 All went well!
      p New key
        a(href='/admin/key/view?key_id=' + officeKey._id class='keyName' title='See key details') #{officeKey.key_name} 
        | has been added. Now with 
        strong #{officeKey.current_holder}
        |. 
      p Thank you! 
        a(href='/admin' class='button-secondary pure-button inline') back to list 
        a(href='/admin/key/add' class='button-secondary pure-button inline') add next key 