extends layout

block content
    div(class='success')  
      h2 All went well!
      p New key
        strong(class='keyName') #{officeKey.key_name} 
        | has been added. Now with 
        strong #{officeKey.current_holder}
        |. 
      p Thank you! 
        a(href='/admin' class='button-secondary pure-button inline') back 