doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://unpkg.com/purecss@1.0.1/build/pure-min.css')
    link(rel='stylesheet', href='/stylesheets/styles.css')   
    meta(content="width=device-width, initial-scale=1" name="viewport") 
    link(rel='stylesheet', href='/stylesheets/mobile.css')   
  body
    div(class='header')
      h1= pageTitle
      if (adminUser)
        div(class='adminName') 
          a(href='/transfer') Make transfer
          |  |  
          a(href='/admin') Admin as #{adminUser}
    block content
