doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://unpkg.com/purecss@1.0.1/build/pure-min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')    
  body
    div(class='header')
      h1= pageTitle
    block content
