doctype html
html
  head
    title=title + ' - Glanz Berlin'
    link(rel='stylesheet', href='https://unpkg.com/purecss@1.0.1/build/pure-min.css')
    link(rel='stylesheet', href='/stylesheets/styles.css?v=2')   
    meta(content="width=device-width, initial-scale=1" name="viewport") 
    link(rel='stylesheet', href='/stylesheets/mobile.css?v=2')   
  body
    div(class='header')
      h1= pageTitle
      if (adminUser)
        div(class='adminName') 
          a(href='/key') Transfer key
          |  |  
          a(href='/admin') Key admin
          |  |  
          a(href='/admin/qr/list' target='_blank') QR codes
          |  | Signed as #{adminUser}
    block content
