extends layout

block content
  div(class='qrCodesPage')
    for one in keys
      if (one.qr_code.data_url)
        div(class='qrCodeItem')
          div(class='qrCodeName')= one.short_name
          div(class='qrCodeImage')
            img(src=one.qr_code.data_url class='qrCode')