extends layout

block content
  div(class='qrCodesPage')
    for one in keys
      if (one.qr_code.filename)
        div(class='qrCodeItem')
          div(class='qrCodeName')= one.short_name
          div(class='qrCodeImage')
            img(src='/images/qr/' + one.qr_code.filename class='qrCode') 