extends layout

block content
    div(class='success')  
      h2 All went well!
      p Now
        strong(class='keyName') #{officeKey.key_name} 
        | is with 
        strong #{officeKey.current_holder}
        |. 
      p Thank you! 
        a(href='/key' class='button-secondary pure-button inline') back 