/* Desktop Styles */
@media only screen and (min-width: 581px) {
  div.only-mobile {
    display: none;
  }

  div.only-desktop {
    display: block;
  }

}


/* Mobile Styles */
@media only screen and (max-width: 580px) {
  body {
    font-size: 20px;
  }

  h2 {
    font-size: 22px;
    margin: 20px 0px; 
  }

  div.only-mobile {
    display: block;
  }

  div.only-desktop {
    display: none;
  }

  table, table.pure-table td, table.pure-table th {
    font-size: 14px;
  }
  .pure-form label {
    display: block;
    margin: 6px 0px 7px 0px;
    padding: 0px 8px;
  }
  .pure-form  label.keyNameLabel {
    text-align: left;
  }

  .pure-form input[type=text], .pure-form select {
    width: 95%;
    display: block;
  }

  .pure-form .pure-button,   .pure-form .pure-button[type=submit] {
    margin-bottom: 80px;
  }
  
  .pure-button, .pure-button.inline {
    margin-top: 8px;
  }

  .right-menu {
    display: block;
    float: none;
    text-align: center;
    margin-bottom: 30px;
  }

}

