body {
  padding: 0px 0px 50px 0px;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0px;
  text-align: center;
}

a {
  color: #00B7FF;
}

.header {
  background-color: #f8f8f8;
  padding: 6px;
}

h1 {
  font-size: 16pt;
    color: #d8d8d8;
    text-transform: uppercase;
    letter-spacing: 1em;
}

h2 {
  margin: 7px 0px 14px 0px;
  text-transform: uppercase;
  color:grey;
}

table {
  font-size: 16px;
}

.keyTransfer {
  background-color: #8ac2d83b;
  padding: 20px;
}

.keyTransfer button {
  margin-top: 40px;
}

table {
  width: 100%;
}

table.pure-table td {
  padding: 0.4em 1em;
}

tr:hover td {
  background-color: rgb(212, 242, 251) !important;
}

.success {
  padding: 20px;
  background-color: rgb(170, 219, 155);
}

.error {
  padding: 20px;
  background-color: rgb(241, 159, 163);
}
.keysList {
  width: 94%;
  margin:auto;

}

.keyName {
  display: inline-block;
  border: 1px solid #eabd52;
  background-color: rgb(255, 231, 161);
  padding: 3px 9px;
  border-radius: 4px;
  margin: 0px 5px;
  text-decoration: none;
  color:black;
}

.right-menu {
  text-align: right;
  margin: 12px 30px 0px 10px;
}

.pure-button.inline {
  padding: 5px 20px;
  margin-top: -4px;
  margin-left: 10px;
}

.pure-control-group {
  margin-top: 10px;
}

.pure-control-group input {
  margin-left:8px;
}

.button-success,
.button-error,
.button-warning,
.button-secondary,
.pure-button-primary {
    color: white;
    border-radius: 4px;
    /* text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); */
}

.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}

input[type=checkbox] {
  margin-right: 8px;
}

.time {
  color: grey;
  font-size: 65%;
}

h2.editKeyForm {
  margin-top: 65px;
  margin-bottom: 0px;
}


.small {
  color: grey;
  font-size: 65%;
}

.keyNameRow {
  display: block;
}

.keyInfoRow {
  display: block;
  margin: 4px 0px 0px 0px;
}

.mobileRow {
  padding: 10px 0px;
}

.mobileRow:nth-child(2n) {
  background: #f2f2f2;
}